@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange:#f95919;
    --inputGray: #eeecec;
    --green:#33845B;
    --black:#0a1912;
    --white:#ffffff;
}


*{
    box-sizing: border-box; 
    font-family: "Montserat", "Abel", sans-serif;
}

body{
    margin: 0 auto;
    font-size: large;
}

header{
    height: 80px;
    display: grid;
   grid-template-columns: 1fr 1fr;
}

img{
    width: 135px;
    height: 30px;
    margin: 40px auto;
}

h2{
    margin: auto 0;
    text-align: center;
}


#personal{
    margin-bottom: 10px;
}

.next{
    width: 80px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    margin: 20px 45%;
}

fieldset{
    border: 0;
}

legend{
    background-color: #33845B;
    width: 100%;
    text-align: center;
    color: var(--white);
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 0.3rem;
    font-size: larger;
}

.label{
    display: block;
    margin-right: 20px;
}

input, select{
    width: 200px;
    border: none;
    background-color: var(--inputGray);
    padding: .5rem;
    border-radius: 0.3rem;
    margin-bottom: 20px;
}

#address{
    width: 300px;
}

#experience{
    margin-left: 10px;
    width: 40px;
}

#exp{
    display: flex;
    height: min-content;
}


#legal{
    width: 20px;
} 

#bank_info input{
    width: 170px;
}

@media screen and (min-width: 450px) {

    body{
        width: 600px;
    }

    input{
        margin-bottom: 0;
    }

    #personal{
        display: grid; 
        grid-template-columns: 2fr 1fr; 
        row-gap: 20px; 
    }

    #address{
        width: 300px;
    }

    #investment{
        display: grid;
        grid-template-columns: 2fr 1fr; 
    }

    #bank_info{
        display: flex; 
        justify-content: space-between;
    }
    


}

